.virtual_buttons {
    width: 137px;
    position: absolute;
    right: 35px;
    top: -27px;
    z-index: 150;
    display: none;
}

.virtual_buttons th {
    width: 43px;
    height: 43px;
}

#virtual_up {
    background: url("../assets/images/arrows4.png") -9px -6px no-repeat;
    cursor: pointer;
}

#virtual_left {
    background: url("../assets/images/arrows4.png") -56px -6px no-repeat;
    cursor: pointer;
}

#virtual_right {
    background: url("../assets/images/arrows4.png") -343px -6px no-repeat;
    cursor: pointer;
}

#virtual_down {
    background: url("../assets/images/arrows4.png") -150px -6px no-repeat;
    cursor: pointer;
}

#virtual_move {
    cursor: pointer;
}

.virtual_move_on {
    /*background: url("../assets/images/move5_30x30.png") no-repeat;
    background-size: cover;
    content: '';*/
    content: url("../assets/images/move5_30x30.png");
    user-select: none;
}

.virtual_move_off {
    background: none;
    content: '+';
    user-select: none;
}